<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="app-navigation"></div> -->
<app-navigation class="header"></app-navigation>
<div class="container">
<!-- BANNER -->
  <div class="row">
    <div class="col-sm-12">
      <app-banner></app-banner>

    </div>

  </div>
  <!-- CONTENT -->
  <div class="row content">
      <div class="col-sm-8">
          <router-outlet></router-outlet>
      </div>
      <div class="col-sm-4">
          <app-others></app-others>
        </div>
     
  
    </div>
  <!-- ADVERTISING -->
  <div class="row">
    <div class="col-sm-12">
      <app-advertising></app-advertising>

    </div>

  </div>

  <!-- FOOTER -->

  <div class="row">
    <div class="col-sm-12">
      <app-footer></app-footer>

    </div>

  </div>
</div>


